body,html{
    margin: 0;
    background-color:#888;
    font-family: "思源黑体","微软雅黑","黑体","Arial";
    text-align: center;
    color:#333;
}

#maincontainer{
    display: inline-block;
    width:1000px;
    background-color:#eee;
    min-height: 1000px;
    text-align: left;
    padding:50px;
}

h1{
    font-size: 48px;
    margin:0;
}

.input-text{
    padding:10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button{
    padding:10px;
    border:1px solid #ccc;
    border-radius: 10px;
    background-color: #eee;
    color:#333;
}

button:hover,
button:focus{
    background-color: #fff;
}

button:active{
    background-color: #ccc;
}

.div-quote{
    border-left: 4px solid #ccc;
    padding:10px 20px;
    margin: 20px 0px;
}

.div-demo-container{
    display: inline-block;
    width:100%;
    min-height: 60px;
    background-color: #fff;
    padding:10px;
}


/*demo5中用到的class*/
.example-5-css{
    display:block;
    height:60px;
    border-radius: 20px;
    background-color: aquamarine;
    color:forestgreen;
    padding:20px;
}